# An example of the required .env file

## Debug mode (this should always be 1 for local builds)
DJANGO_DEBUG=1

## Domain (ignored if DJANGO_DEBUG=true)
DOMAIN="localhost"

## Port for server to listen on (ignored for debugging)
PORT=8000

## Where to place static files for webserver access (ignored if DJANGO_DEBUG=true)
##   It's recommended to place this in /var/www, or anywhere outside of /home
STATIC_DIR=""

## Django's secret key for hashing passwords
DJANGO_SECRET="Add the secret key here"

## Two engines are currently available: "sqlite3", "mysql"
DATABASE_ENGINE="sqlite3"
DATABASE_NAME="db.sqlite3"
#DATABASE_USERNAME=
#DATABASE_PASSWORD=
#DATABASE_HOST=
#DATABASE_PORT=

## Only for connecting to AWS RDS. This is a path to the provided AWS certificate authority file.
#DATABASE_MYSQL_SSL_CA=

## The email backend to use; two types are available: "dummy", "ses"
EMAIL_BACKEND="dummy"

## The sending address for authentication emails
EMAIL_AUTH_SENDING_ADDRESS="yay@mama.com"

## The maximum age of an authentication session before it expires, in seconds
AUTH_SESSION_MAX_AGE="30"

## How to print above age when displaying to user
AUTH_SESSION_MAX_AGE_STRING="30 seconds"
