<!-- accounts/templates/accounts/login.html -->
{% extends "base.html" %}
{% block title %}
    Log In
{% endblock title %}
{% block content %}
    <main class="centered-body">
        <main class="centered-main">
            <h2>Log In</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="login_form_submit" class="btn-bg-primary">Log In</button>
            </form>
            <p>
                Don't have an account? <a href="{% url 'signup' %}" id="page-signup-link">Sign Up</a>
            </p>
        </main>
    </main>
{% endblock content %}
