<!-- accounts/templates/accounts/login.html -->
{% extends "base.html" %}
{% block title %}
    Log In
{% endblock title %}
{% block content %}
    <!-- removed the second main tag -->
    <main class="centered-body centered-main">
        <h2>Log In</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="login_form_submit" class="btn-bg-primary">Log In</button>
        </form>
        <p>
            Don't have an account? <a href="{% url 'signup' %}" id="page-signup-link">Sign Up</a>
        </p>
    </main>
{% endblock content %}
