/* static/css/calculator_background.css */

/* Main content takes most of the width */
.main-content {
  flex: 2;
  margin-bottom: 20px;
  text-align: center;
}

/* Sidebar inside the dashboard box */
.recent-transactions-sidebar {
  flex: 1;
  background-color: white;
  box-shadow: var(--drop-shadow);
  border-radius: 8px;
  max-width: 900px;
  overflow-y: auto;
  text-align: center;

  padding: 0.8em;
}

.dashboard-card-container {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.dashboard-card {
  position: relative; /* relative instead of fixed so flex works */
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.8em;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;

  & h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

#time-period-card {
  min-width: 16em;
}

table.balance-results {
  padding: 0;
  width: 100%;

  & * {
    padding: 0.2em 0 0.2em 0;
  }

  & td:last-child {
    text-align: right;
    font-family: monospace;
  }
}

.transactions-table-container {
  padding-top: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  overflow: scroll;
}

.transactions-table {
  width: 100%;

  & th,
  & td {
    background-color: white;
    border: 1px solid var(--bg-slight-gray);
    text-align: left;
  }
}

@media (max-width: 50em) {
  .dashboard-card-container {
    flex-direction: column;
  }

  #time-period-card {
    width: 100%;
    max-width: unset;

    & form {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
