/* static/css/home.css */
.home-main {
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  text-align: center;

  justify-content: center;
  justify-items: center;
  align-items: center;
}
