/* Center the headers for the goal tables horizontally within their <section> */
.goal-section {
  text-align: center;
}

.goal-table-container {
  overflow: scroll;
}

/* Style the tables for listing the goals */
.goal-table {
  border-radius: 8px;
  border-spacing: 0;
  overflow: scroll;
  width: 100%;
}

/* Provide spacing between table cells and style row borders */
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Make goal table headers blue */
.goal-table-header-row > th {
  background: var(--bg-blue);
  color: #fff;
}

/* Any table row with the class of selected (toggled by clicking on it with js)
turns blue */
tr.selected {
  background-color: color-mix(in srgb, var(--bg-blue) 80%, transparent);
  color: white;
}

/* Any table row not selected but being hovered over is this lighter blue */
tr:not(.selected):hover {
  background-color: color-mix(in srgb, var(--bg-blue) 60%, transparent);
  color: white;
}

.goal-header {
    display: flex;

    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;

    gap: 0.8em;
    align-items: center;
}

.goal-buttons {
    display: flex;
    gap: 0.4em;
    justify-content: right;
    flex-grow: 1;
}

#category-filter {
    flex-grow: 1;
}

/* Layout the dialogs */
dialog[open] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}

/* Space out the elements in the dialogs */
dialog > * {
  margin: 20px;
}

/* Fade the background when the dialog is open */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
}

/* Color elements responsible for deleting objects red for a warning */
.deletion {
  background-color: #ee5050;
}

/* Goals add buttons */
.goal-add-button, goal-ed {
  background: #007bff;
  color: white;
}

/* Goals edit buttons */
.goal-edit-button {
  background: #007bff;
  color: white;
}

/* Category add buttons */
.category-add-button {
  background: #007bff;
  color: white;
}

/* Category edit buttons */
.category-edit-button {
  background: #007bff;
  color: white;
}

@media (max-width: 50em) {
    .goal-header {
        justify-content: center;
    }

    .goal-buttons {
        justify-content: center;
        width: 100%;
    }

    .goal-buttons > * {
        flex-grow: 1;
    }
}
