.reports-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
}

.report {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 400px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
}

.report-title {
    background-color: #2d6cdf;
    text-align: left;
    color: white;
}

.report-title h3 {
    font-size: 1.25em;
    margin: 10px;
}

.report-form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
}

.report-form div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.selects select {
    width: 150px;
    appearance: none;
}

.update-button {
  background: #007bff;
  color: white;
}


#report-pie {
    min-width: 800px;
}

.pie-container {
    display: flex;
    flex-wrap: nowrap;
}

.pie-chart {
    width: 50%;
}