.reports-container {
  display: grid;

  grid-template-columns: 1fr 1fr;

  margin: 1rem;
  gap: 1rem;
}

.report {
  display: flex;

  flex-direction: column;

  min-width: 25em;
  border-radius: 8px;
  overflow: hidden;

  background-color: var(--bg-normal);
  box-shadow: var(--drop-shadow);
}

.report-title {
  background-color: var(--bg-blue);
  text-align: left;

  & h3 {
    font-size: 1.25em;
    margin: 10px;
    color: var(--fg-dark);
  }
}

.report-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;

  & select {
    max-width: 150px;
    width: auto;
    appearance: none;
  }
}

.pie-container {
  display: flex;
  flex-wrap: wrap;
}

.pie-chart {
  width: 400px;
}

@media (max-width: 50em) {
  .reports-container {
    grid-template-columns: 1fr;
  }
}
