aside.sidebar,
.main-content {
  padding: 1.5rem;

  /* allow the user to scroll through view */
  overflow-y: auto;
  max-height: 100%;
}

aside.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 0;
  width: 30%;

  background-color: var(--bg-normal);
  border-right: 1px solid var(--bg-slight-gray);
}

.main-content {
  flex: auto;
  background-color: var(--bg-normal);
}

table {
  margin-top: 0.8em;
}

@media (max-width: 50em) {
  div.transactions_dashboard {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}
