<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finance Tracker{% endblock %}</title>

    <!-- include the extra_head block forcalculator_background -->
    {% block extra_head %}{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <header>
        <nav>
            <a id="nav-home" href="{% url 'home' %}">Home</a> <!--Create navigation bar for home-->

            {% if user.is_authenticated %}
                <a id="nav-dashboard" href="{% url 'dashboard' %}">Dashboard</a> <!--Create navigation bar for dashboard homepage-->
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" id="logout_submit">Logout</button>
                </form>

                <span id="logged_in_as">Logged in as {{ user.username }}</span>
            {% else %}
                <a id="nav-signup" href="{% url 'signup' %}">Signup</a>
                <a id="nav-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <!-- this makes it so only the other pages can use specific css features -->
    <main>
        {% block content %}{% endblock %}
        {% block extra_scripts %}{% endblock %}
    </main>

</body>
</html>
