<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

<!-- this adds to the header without changing base's header -->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<!-- add the class: dashboard-main to only apply background to the dashboard -->
<body class="dashboard-main">
    <div class="dashboard">
        <h1><u>Welcome to your Dashboard!</u>💰💵</h1>
        <p>Welcome, {{ user.username }}.</p>
        <p>Here you can track your budgets, expenses, and financial goals.</p>
        <br><br>

        <p>Click below to start inputting a transaction!</p>
        <a href="{% url 'transactions' %}">Click me to add a new transaction.</a> <br><br>
        <a href="{% url 'categories' %}">Click me to add a new category.</a> <br><br>
    </div>
</body>
{% endblock %}
