<!-- templates/categories.html -->
{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'finances/css/categories.css' %}">
{% endblock %}

{% block title %}Categories{% endblock %}

{% block content %}
<!-- container for all categories -->
<div class="container">
    <h1>Your Categories</h1>

    <table class="categories-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Goal</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr data-id="{{ category.id }}"
                    data-name="{{ category.name }}"
                    data-entry_type="{{ category.entry_type }}"
                    data-goal="{{ category.goal }}">

                    <td>{{ category.name }}</td>
                    <td>{{ category.entry_type }}</td>
                    <td>{{ category.goal }}</td>
                    <td>
                        <button class="edit-button">Edit</button>
                    </td>
                    <td>
                        <form method="post" action="{% url 'delete_category' category.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type=submit class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No categories yet...</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add category button and dialog box popup -->
    <button class="add-button" id="new-category-button">Add New Category</button>

    <dialog id="category-popup">
        <form method="POST" id="category-form">
            {% csrf_token %}
            <input type="hidden" name="id" id="category-id">
            <h2 id="form-title">Add Category</h2>

            {{ form.as_p }}
            <div class="popup-form-buttons">
                <button type="button" class="cancel-button" id="cancel-button">Cancel</button>
                <button type="submit" class="save-button" id="save-button">Save</button>
            </div>
        </form>
    </dialog>

</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'finances/js/categories.js' %}"></script>
{% endblock %}
