<!-- templates/dashboard.html -->
{% extends "base.html" %}
{% load static %}
<!-- Loads intcomma to add commas to large values -->
{% load humanize %}

{% block title %}Dashboard{% endblock %}

<!-- this adds to the header without changing base's header -->
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<!-- add the class: dashboard-main to only apply background to the dashboard -->
<!-- removed the second main tag -->
<main class="centered-body">
    <div class="centered-main">
        <section class="main-content">
            <h1><u>Welcome to your Dashboard!</u>💰💵</h1>
            <h3>Welcome, {{ user.username }}.</h3>
            <h4>Here you can track your budgets, expenses, and financial goals.</h4>
            <br><br>

        </section>

        <!-- create the sidebar section to show recent transactions -->
        <aside class="recent-transactions-sidebar">
            <h2>3 Most Recent Transactions</h2>

            {% if transactions_output %}
            <table class="transactions-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                    {% for t in transactions_output %}
                    <tr>
                        <td>{{ t.date }}</td>
                        <td>{{ t.name }}</td>
                        <td>${{ t.amount|intcomma}}</td>
                        <td>{{ t.get_entry_type_display }}</td>
                        <td>{% if t.category %}{{ t.category.name }}{% else %}None{% endif %}</td>
                        <td>{{ t.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No recent transactions.</p>
            {% endif %}
            <a href="{% url 'transactions' %}">Click here to see all transactions</a>
        </aside>

        <!-- INSERT TIME-PERIOD-SIDEBAR -->
        <div class="time-period-sidebar">
            <h3>Time Period Filter</h3>

            <!-- create a form to hold the date range and send info to transactions view -->
            <!--redirect the sidebar output back to the dashboard-->
            <form method="GET" action="{% url 'dashboard' %}">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date|default:'' }}">

                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date|default:'' }}">

                <!-- create buttons to calculate total and clear date fields -->
                <button type="submit">Calculate Totals</button>
                <button id="period-filter-rst-btn" type="button">Clear</button>
            </form>

            <hr>

            <!-- show totals to the second decimal place -->
            <p><strong>Income Total:</strong> ${{ income_total|default:"0"|floatformat:2 }}</p>
            <p><strong>Expense Total:</strong> ${{ expense_total|default:"0"|floatformat:2 }}</p>
            <p><strong>Net Total:</strong> ${{ net_total|default:"0"|floatformat:2 }}</p>
        </div>

        <form method="post" action="{% url 'notifs' %}" style="display: inline;">
            {% csrf_token %}

            <label for="title">notif title:</label>
            <input type="text" id="title" name="title" value="{{ request.POST.title|default:'' }}">

            <label for="message">notif message:</label>
            <input type="text" id="message" name="message" value="{{ request.POST.message|default:'' }}">

            <button type="submit">add notif</button>
        </form>
    </div>
</main>

<script>
    const periodFilterRstBtn = document.querySelector("#period-filter-rst-btn");
    periodFilterRstBtn.addEventListener('click', function() {
        window.location.href="{% url 'dashboard' %}";
    });
</script>
{% endblock %}