<!-- finances/templates/finances/edit_transacations.html -->
{% extends "base.html" %}

{% block title %}Edit Transaction{% endblock %}

{% block content %}

<div class="transactions_dashboard">

    <!-- Main content (centered form) -->
    <main class="main-content">
        <h2>Edit Transaction</h2>

        <form method="POST" action="{% url 'edit_transactions' entry.id %}">
            {% csrf_token %}

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="{{ entry.date|date:'Y-m-d'|default:'' }}">

            <label for="name">Transaction Name:</label>
            <input type="text" id="name" name="name" value="{{ entry.name }}">

            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" value="{{ entry.amount }}">

            <label for="entry_type">Type:</label>
            <select id="entry_type" name="entry_type">
                {% for key, label in entry_types %}
                    <option value="{{ key }}">
                        {% if entry.entry_type == key %}
                            selected
                        {% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>

            <!-- select category from drop down of previous entries -->
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="">None</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}" {% if entry.category and entry.category.id == cat.id %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="{{ entry.description }}">

            <button type="submit">Save Changes</button>
            <a href="{% url 'transactions' %}" style="margin-left: 10px;">Cancel</a>
        </form>
    </main>
</div>
{% endblock %}
