{% extends "base.html" %}
{% block title %}View and Edit Goals{% endblock %}
{% block extra_head %}
  <!--This module allows you to use intcomma to make numbers easier to read.-->
  {% load humanize %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'finances/css/goals.css' %}">
  <script src="{% static 'finances/js/goals.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="goal-tables">
    <section class="goal-tables">
        <h2>Account Goals</h2>
        <table class="goal-tables">
            <tr class="goal-tables">
                <th>Name</th>
                <th>Entry Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
            {% if not acct_goals %}
            <tr>
                <td colspan="7">No account goals yet</td>
            </tr>
            {% else %}
                {% for goal in cur_acct_goals %}
                    <tr goal_id="{{goal.id}}" class="acct_goal">
                        <td>{{goal.name}}</td>
                        <td>{{goal.entry_type}}</td>
                        <td>{{goal.start_date | date:"m/d/Y"}}</td>
                        <td>{{goal.end_date | date:"m/d/Y"}}</td>
                        <td>${{goal.amount | intcomma}}</td>
                        <!-- Standins below -->
                        <td>55%</td>
                        <td>Ongoing</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <button id="account_goals_add">Add</button>
        <button id="account_goals_edit">Edit</button>
        <button id="account_goals_delete" class="deletion">Delete</button>
    </section>


    <section class="goal-tables">
        <h2>Category Goals</h2>
        <select id="category_filter">
            <option value="">All Categories</option>
            {% for cat in user_cats %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
        </select>

        <table class="goal-tables">
            <tr class="goal-tables">
                <th>Category</th>
                <th>Name</th>
                <th>Entry Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Amount</th>
                <th>Progress</th>
                <th>Status</th>
            </tr>
            <!--Even though there is already JS to set the display to none, this makes it so it doesn't pop up for a split second before the scripts run.-->
            <tr id="no_cat_goals" style="display: none;">
                <td colspan="8">There are no goals in this category.</td>
            </tr>
            {% for goal in cur_cat_goals %}
                <tr class="cat_goal"
                goal_id="{{goal.id}}" 
                data-category-id="{{ goal.category.id }}"
                data-category-name="{{ goal.category.name }}">
                    <td>{{goal.category.name}}</td>
                    <td>{{goal.name}}</td>
                    <td>{{goal.entry_type}}</td>
                    <td>{{goal.start_date | date:"m/d/Y"}}</td>
                    <td>{{goal.end_date | date:"m/d/Y"}}</td>
                    <td>${{goal.amount | intcomma}}</td>
                    <!-- Standins below -->
                    <td>55%</td>
                    <td>Ongoing</td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <!--End of duplicate code as standin for layout-->
</div>

<dialog id="add_dialog" {% if acct_goal_add %}data-show-on-load="true"{% endif %}>
    <form method="post">
        {% csrf_token %}
        {{ add_account_goal_form.as_p }}
        <button type="reset" id="add_goal_reset">Reset</button>
        <button type="button" id="add_goal_cancel">Cancel</button>
        <button type="submit" action="" id="add_goal_submit">Add Goal</button>
    </form>
</dialog>

<dialog id="edit_dialog" {% if acct_goal_edit %}data-show-on-load="true"{% endif %}>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="edit">
        {{ edit_account_goal_form.as_p }}
        <button type="button" id="edit_goal_cancel">Cancel</button>
        <button type="submit">Update Goal</button>
    </form>
</dialog>


<dialog id="deletion_dialog">
    <h3>Are you sure you want to delete the selected items?</h3>
    <div class="popup_buttons">
        <button id="delete_cancel">Cancel</button>
        <button id="delete_confirm" class="deletion">Delete</button>
    </div>
</dialog>

<dialog id="msg_dialog">
    <h3 id="msg"></h3>
    <button type="button" id="msg_close">Okay</button>
</dialog>


{% endblock %}