{% extends "base.html" %}
{% block title %}
    View and Edit Goals
{% endblock title %}
{% block extra_head %}
    {# Loads intcomma to add commas to large values #}
    {% load humanize %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'finances/css/goals.css' %}">
    <span id="goals-url" data-url="{% url 'goals' %}"></span>
    <span id="delete-goals-url" data-url="{% url 'delete_goals' %}"></span>
{% endblock extra_head %}
{% block content %}
    <div class="centered-body">
        <div class="centered-main">
            <section class="v-flex acct-goal-section">
                <span class="goal-header">
                    <h1>Account Goals</h1>
                    <div class="goal-buttons">
                        <button class="btn-bg-positive" id="acct-goal-add-btn">Add</button>
                        <button class="btn-bg-primary" id="acct-goal-edit-btn">Edit</button>
                        <button class="btn-bg-negative" id="acct-goal-delete-btn">Delete</button>
                    </div>
                </span>
                <div class="goal-table-container">
                    <table class="goal-table">
                        <thead>
                            <tr class="goal-table-header-row">
                                <th>Name</th>
                                <th>Entry Type</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Amount</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not cur_acct_goals %}
                                <tr>
                                    <td colspan="6">No account goals yet</td>
                                </tr>
                            {% else %}
                                {% for goal in cur_acct_goals %}
                                    <tr goal-id="{{ goal.id }}" class="acct-goal-row">
                                        <td>{{ goal.name }}</td>
                                        <td>{{ goal.entry_type }}</td>
                                        <td>{{ goal.start_date | date:"m/d/Y" }}</td>
                                        <td>{{ goal.end_date | date:"m/d/Y" }}</td>
                                        <td>${{ goal.amount | intcomma }}</td>
                                        <td>
                                            {% if goal.progress is not None %}
                                                {{ goal.progress | intcomma }}%
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>
            <!--Category Goals table-->
            <section class="v-flex cat-goal-section">
                <span class="goal-header">
                    <h1>Category Goals</h1>
                    <select id="category-filter">
                        <option value="">All Categories</option>
                        {% for cat in user_cats %}<option value="{{ cat.id }}">{{ cat.name }}</option>{% endfor %}
                    </select>
                    <div class="goal-buttons">
                        <button class="btn-bg-positive" id="category-goals-add">Add</button>
                        <button class="btn-bg-primary" id="category-goals-edit">Edit</button>
                        <button class="btn-bg-negative" id="category-goals-delete">Delete</button>
                    </div>
                </span>
                <div class="goal-table-container">
                    <table class="goal-table">
                        <thead>
                            <tr class="goal-table-header-row">
                                <th>Category</th>
                                <th>Name</th>
                                <th>Entry Type</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Amount</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--Even though there is already JS to set the display to none, this makes it so it doesn't pop up for a split second before the scripts run.-->
                            <tr id="no-cat-goals-row" style="display: none;">
                                <td colspan="7">There are no goals in this category.</td>
                            </tr>
                            {% for goal in cur_cat_goals %}
                                <tr class="cat-goal-row"
                                    goal-id="{{ goal.id }}"
                                    data-category-id="{{ goal.category.id }}"
                                    data-category-name="{{ goal.category.name }}">
                                    <td>{{ goal.category.name }}</td>
                                    <td>{{ goal.name }}</td>
                                    <td>{{ goal.entry_type }}</td>
                                    <td>{{ goal.start_date | date:"m/d/Y" }}</td>
                                    <td>{{ goal.end_date | date:"m/d/Y" }}</td>
                                    <td>${{ goal.amount | intcomma }}</td>
                                    <td>
                                        {% if goal.progress is not None %}
                                            {{ goal.progress }}%
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <dialog id="acct-goal-add-dialog"
            {% if acct_goal_add %}data-show-on-load="true"{% endif %}>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add-acct-goal">
            <h2 class="form-title" id="form-title">Add Account Goal</h2>
            {{ add_account_goal_form.as_p }}
            <div class="popup-form-btns">
                <button type="reset" class="btn-bg-cancel" id="acct-goal-add-reset">Reset</button>
                <button type="button" class="btn-bg-cancel" id="acct-goal-add-cancel">Cancel</button>
                <button type="submit" class="btn-bg-positive" id="acct-goal-add-submit">Add Goal</button>
            </div>
        </form>
    </dialog>
    <dialog id="acct-goal-edit-dialog"
            {% if acct_goal_edit %}data-show-on-load="true"{% endif %}>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit-acct-goal">
            <input type="hidden" name="goal-id" value="{{ editing_goal.id|default:'' }}">
            <h2 class="form-title" id="form-title">Edit Account Goal</h2>
            {{ edit_account_goal_form.as_p }}
            <div class="popup-form-btns">
                <button type="reset" class="btn-bg-cancel" id="acct-goal-add-reset">Reset</button>
                <button type="button" class="btn-bg-cancel" id="acct-goal-edit-cancel">Cancel</button>
                <button type="submit" class="btn-bg-primary">Update Goal</button>
            </div>
        </form>
    </dialog>
    <dialog id="cat-goal-add-dialog"
            {% if cat_goal_add %}data-show-on-load="true"{% endif %}>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="add-cat-goal">
            <h2 class="form-title" id="form-title">Add Category Goal</h2>
            {{ add_category_goal_form.as_p }}
            <div class="popup-form-btns">
                <button type="reset" class="btn-bg-cancel" id="cat-goal-add-reset">Reset</button>
                <button type="button" class="btn-bg-cancel" id="cat-goal-add-cancel">Cancel</button>
                <button type="submit" class="btn-bg-positive" id="cat-goal-add-submit">Add Goal</button>
            </div>
        </form>
    </dialog>
    <dialog id="cat-goal-edit-dialog"
            {% if cat_goal_edit %}data-show-on-load="true"{% endif %}>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="edit-cat-goal">
            <input type="hidden" name="goal-id" value="{{ editing_goal.id|default:'' }}">
            <h2 class="form-title" id="form-title">Edit Category Goal</h2>
            {{ edit_category_goal_form.as_p }}
            <div class="popup-form-btns">
                <button type="reset" class="btn-bg-cancel" id="cat-goal-add-reset">Reset</button>
                <button type="button" class="btn-bg-cancel" id="cat-goal-edit-cancel">Cancel</button>
                <button type="submit" class="btn-bg-primary">Update Goal</button>
            </div>
        </form>
    </dialog>
    <dialog id="goal-delete-dialog">
        <h3>Are you sure you want to delete the selected account goals?</h3>
        <div class="popup_buttons">
            <button id="goal-delete-cancel">Cancel</button>
            <button id="goal-delete-confirm" class="deletion">Delete</button>
        </div>
    </dialog>
    <dialog id="msg-dialog">
        <h3 id="msg"></h3>
        <button type="button" class="btn-bg-primary" id="msg-close">Okay</button>
    </dialog>
{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'finances/js/goals.js' %}" defer></script>
{% endblock extra_scripts %}
