{% extends "base.html" %}
{% load static %}

{% block title %}View Your Reports{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'finances/css/reports.css' %}">
  <script src="{% static 'finances/js/reports.js' %}" defer></script>
  <span id="acct-chart-info" data-start-date="{{ acct_start_date }}" data-end-date="{{ acct_end_date }}"></span>
  <span id="cat-chart-info" data-start-date="{{ cat_start_date }}" data-end-date="{{ cat_end_date }}" data-cat-category="{{ cat_category }}"></span>
{% endblock %}

{% block content %}

    <main>
        <!-- Container for the account and category reports (bar graphs) -->
        <div class="reports-container">
            <!-- Account graph container -->
            <div class="report">
                <div class="report-title">
                    <h3 id="acct-report-title">All Transaction Data - The Last {{ acct_form.period.value|capfirst }}</h3>     
                </div>
                <!-- Account graph period and interval controls -->
                <form method="POST" class="report-form" id="acct-report">
                    {% csrf_token %}
                    <!-- Div for holding the form select elements and their labels to separate them to the other side of the button -->
                    <div class="selects">
                        {{ acct_form }}
                    </div>
                    <button class="update-button" type="submit" name="acct_submit">Update</button>
                </form>
                
                <!-- chart.js chart for rendering data into a bar graph -->
                <canvas id="acct-chart"></canvas>
            </div>

            <!-- Category graph container -->
            <div class="report">
                <div class="report-title">
                    <h3 id="cat-report-title">Category Transaction Data - The Last {{ cat_form.period.value|capfirst }}</h3>
                </div>
                <!-- Category graph period, interval, and category controls -->
                <form method="POST" class="report-form" id="cat-report">
                    {% csrf_token %}
                    <!-- Div for holding the form select elements and their labels to separate them to the other side of the button -->
                    <div class="selects">
                        {{ cat_form }}
                    </div>
                    <button class="update-button" type="submit" name="cat_submit">Update</button>
                </form>
                <!-- chart.js chart for rendering data into a bar graph -->
                <canvas id="cat-chart"></canvas>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <!-- Container for the account wide pie charts that show each category's sum of transactions -->
        <div class="reports-container">
            <div class="report" id="report-pie">
                <form method="POST" class="report-form">
                    {% csrf_token %}
                    {{ acct_form.period }}
                    {{ acct_form.interval }}
                    <button class="update-button" type="submit" name="acct_submit">Update</button>
                </form>
                <div class="pie-container">
                    <div class="pie-chart">
                        <canvas id="expense-pie"></canvas>
                    </div>
                    <div class="pie-chart">
                        <canvas id="income-pie"></canvas>
                    </div>  
                </div>
            </div>
        </div>
    </main>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  {{ acct_data|json_script:'acct-data' }}
  {{ cat_data|json_script:'cat-data' }}
  {{ exp_pie_data|json_script:'exp-pie-data'}}
  {{ inc_pie_data|json_script:'inc-pie-data'}}
{% endblock %}