{% extends "base.html" %}
{% load static %}
{% block title %}
    Reports
{% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'finances/css/reports.css' %}">
    <script src="{% static 'finances/js/reports.js' %}" defer></script>
    <!-- Script to make chart.js charts work, could be local instead-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <span id="acct-chart-info"
          data-start-date="{{ acct_start_date }}"
          data-end-date="{{ acct_end_date }}"></span>
    <span id="cat-chart-info"
          data-start-date="{{ cat_start_date }}"
          data-end-date="{{ cat_end_date }}"
          data-cat-category="{{ cat_category }}"></span>
{% endblock extra_head %}
{% block content %}
    <main>
        <!-- Container for the account and category reports (bar graphs and a line graph) -->
        <div class="reports-container">
            <!-- Account graph container -->
            <div class="report report-reg">
                <div class="report-title">
                    <h3 id="acct-report-title">All Transaction Data - The Last {{ acct_form.period.value|capfirst }}</h3>
                </div>
                <!-- Account graph period and interval controls -->
                <form method="post" class="report-form" id="acct-report">
                    {% csrf_token %}
                    {{ acct_form }}
                    <button class="btn-bg-primary" type="submit" name="acct_submit">Update</button>
                </form>
                <!-- chart.js chart for rendering data into a bar graph -->
                <div class="chart-reg">
                    <canvas id="acct-chart"></canvas>
                </div>
            </div>
            <!-- Category graph container -->
            <div class="report report-reg">
                <div class="report-title">
                    <h3 id="cat-report-title">Category Transaction Data - The Last {{ cat_form.period.value|capfirst }}</h3>
                </div>
                <!-- Category graph period, interval, and category controls -->
                <form method="post" class="report-form" id="cat-report">
                    {% csrf_token %}
                    {{ cat_form }}
                    <button class="btn-bg-primary" type="submit" name="cat_submit">Update</button>
                </form>
                <!-- chart.js chart for rendering data into a bar graph -->
                <div class="chart-reg">
                    <canvas id="cat-chart"></canvas>
                </div>
            </div>
            <!-- Savings over time container -->
            <div class="report report-reg" id="report-savings">
                <div class="report-title">
                    <h3 id="savings-report-title">Net Savings Over Time - The Last {{ savings_form.period.value|capfirst }}</h3>
                </div>
                <form method="post" class="report-form">
                    {% csrf_token %}
                    {{ savings_form }}
                    <button class="btn-bg-primary" type="submit" name="savings_submit">Update</button>
                </form>
                <div class="chart-reg">
                    <canvas id="savings-chart"></canvas>
                </div>
            </div>
        </div>
        <!-- Container for pie charts and for net savings over time chart -->
        <div class="reports-container">
            <!-- Container for the account wide expense pie chart that show each expense category's sum of transactions -->
            <div class="report report-pie">
                <div class="report-title">
                    <h3 id="exp-pie-title">Expenses By Category - The Last {{ exp_pie_form.period.value|capfirst }}</h3>
                </div>
                <form method="post" class="report-form">
                    {% csrf_token %}
                    {{ exp_pie_form }}
                    <button class="update-button btn-bg-primary"
                            type="submit"
                            name="exp_pie_submit">Update</button>
                    <!--------------------------------------------------------->
                </form>
                <!-- Show a message when there is no data to show -->
                <p class="no-data-msg" id="exp-pie-no-data-msg" hidden>There is no data to show for this time period.</p>
                <div class="pie-chart" id="expense-pie-div" hidden>
                    <canvas id="expense-pie"></canvas>
                </div>
            </div>
            <!-- Container for the account wide income pie chart that show each income category's sum of transactions -->
            <div class="report report-pie">
                <div class="report-title">
                    <h3 id="inc-pie-title">Income By Category - The Last {{ inc_pie_form.period.value|capfirst }}</h3>
                </div>
                <form method="post" class="report-form">
                    {% csrf_token %}
                    {{ inc_pie_form }}
                    <button class="update-button" type="submit" name="inc_pie_submit">Update</button>
                </form>
                <!-- Show a message when there is no data to show -->
                <p class="no-data-msg" id="inc-pie-no-data-msg" hidden>There is no data to show for this time period.</p>
                <div class="pie-chart" id="income-pie-div" hidden>
                    <canvas id="income-pie"></canvas>
                </div>
            </div>
        </div>
    </main>
    <!-- Create elements out of data from the view for the JS to make charts with -->
    {{ acct_data|json_script:'acct-data' }}
    {{ cat_data|json_script:'cat-data' }}
    {{ exp_pie_data|json_script:'exp-pie-data' }}
    {{ inc_pie_data|json_script:'inc-pie-data' }}
    {{ savings_data|json_script:'savings-data' }}
{% endblock content %}
