{% extends "base.html" %}
{% load static %}
{% load humanize %}
{# Loads intcomma to add commas to large values #}
{% block title %}
    Transactions
{% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'finances/css/transactions.css' %}">
    <script src="{% static 'finances/js/transactions.js' %}" defer></script>
{% endblock extra_head %}
{% block content %}
    <div class="transactions_dashboard h-flex">
        <!-- Sidebar: Add Transaction & Filter -->
        <aside class="sidebar">
            {% if edit_id %}
                <form method="post" action="{% url 'transactions' %}?edit={{ edit_id }}">
                    {% csrf_token %}
                    <h2>Editing Transaction</h2>
                    {{ entry_form }}
                    <fieldset class="form-buttons">
                        <button class="btn-bg-cancel" type="reset">Revert</button>
                        <button class="btn-bg-primary" type="submit">Apply</button>
                    </fieldset>
                    <a class="pretend-btn btn-bg-cancel"
                       href="{% url 'transactions' %}"
                       onclick="return confirm('Cancel this edit?')">Cancel Edit</a>
                </form>
            {% else %}
                <form method="post" action="{% url 'transactions' %}">
                    {% csrf_token %}
                    <h2>Add Transaction</h2>
                    {{ entry_form }}
                    <fieldset class="form-buttons">
                        <button class="btn-bg-cancel" type="reset">Reset</button>
                        <button class="btn-bg-positive" type="submit">Add</button>
                    </fieldset>
                </form>
                <h2>Filter Transactions</h2>
                <form method="get" action="{% url 'transactions' %}">
                    {{ entry_filter_form }}
                    <fieldset class="form-buttons">
                        <button id="filter-trans-rst-btn" class="btn-bg-cancel" type="button">Reset Filters</button>
                        <button class="btn-bg-primary" type="submit">Apply Filters</button>
                    </fieldset>
                </form>
            {% endif %}
        </aside>
        <main class="main-content">
            <span class="info-title">
                <h2 style="display: inline">Your Transactions</h2>
                <span class="subtitle">${{ balance|floatformat:2|intcomma }}</span>
            </span>
            {% if entries_output %}
                <table class="normal">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in entries_output %}
                            <tr {% if edit_id == e.id %}id="editing-active"{% endif %}>
                                <td>{{ e.date }}</td>
                                <td>{{ e.name }}</td>
                                <td class="currency">${{ e.amount|intcomma }}</td>
                                <td>{{ e.get_entry_type_display }}</td>
                                <td>
                                    {% if e.category %}
                                        {{ e.category.name }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>{{ e.description }}</td>
                                {% if edit_id == e.id %}
                                    <td colspan="2" class="edit-tag">Editing</td>
                                {% else %}
                                    <td>
                                        {% if edit_id %}
                                            <a href="{% url 'transactions' %}?edit={{ e.id }}#editing-active"
                                               onclick="return confirm('Cancel the current edit and edit this transaction?');">✏️</a>
                                        {% else %}
                                            <a href="{% url 'transactions' %}?edit={{ e.id }}#editing-active">✏️</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_transactions' e.id %}"
                                           onclick="return confirm('Delete this transaction?');">🗑️</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% if new_user %}
                        No transactions yet. Add one on the left!
                    {% else %}
                        No transactions found.
                    {% endif %}
                </p>
            {% endif %}
        </main>
    </div>
    <script>
    // Resets the transaction filters
    const filterTransRstBtn = document.querySelector("#filter-trans-rst-btn");

    filterTransRstBtn.addEventListener('click', function() {
        window.location.href="{% url 'transactions' %}";
    });
    </script>
{% endblock content %}
